
@mixin topLink{
    margin-left: 16px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #ffffff;
    margin-top: 38px;
    width: fit-content;
    text-decoration: none;
    line-height: 17px;
}

@mixin justLinks{
    margin-left: 33px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #ffffff;
    width: fit-content;
    text-decoration: none;
    padding-top: 13px;
}


footer{
    width: 100%;
    height: 1265px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    background: #000;
    .fetch_footer{
        height: 243px;
        width: 100%;
        display: grid;
        .about_us{
            height: 114px;
            display: grid;
            margin-top: 35px;
            h6.fetch{
                color: #ffffff;
                margin-left: 16px;
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 7px;
            }
            a{
                width: fit-content;
                color: #ffffff;
                margin-left: 33px;
                text-decoration: none;
                display: inline-block;
                border-bottom: 1px solid #ffffff;
                font-weight: 400;
                font-size: 16px;
                margin-top: 8px;
                margin-bottom: 5px;
            }
        }
        .contact_us{
            height: 67px;
            margin-top: 31px;
            display: grid;
            a{
                color: #ffffff;
                margin-left: 33px;
                text-decoration: none;
                display: inline-block;
                text-decoration: underline;
            }
            a.fetch_link_tel{
                text-decoration: none;
                font-size: 16px;
                color: #ffffff;
                font-weight: 700;
                padding-top: 9px;
            }
            p{
                color: #ffffff;
                margin-left: 33px;
                font-size: 13px;
                opacity: .75;
            }
        }
    }
    .mens_footer{
        height: 172px;
        width: 100%;
        display: grid;
        a.mens_link{
            @include justLinks;
        }
        a.formens{
            @include topLink;
        }
    }
    .womans_footer{
        height: 172px;
        width: 100%;
        display: grid;
        margin-top: 31px;
        a.womans_link{
            @include justLinks;
        }
        a.forwomans{
            @include topLink;
        }
    }
    .shoes_footer{
        height: 85px;
        width: 100%;
        display: grid;
        margin-top: 26px;
        margin-top: 32px;
        a.shoes_link{
            @include justLinks;
        }
        a.shoes{
            @include topLink;
        }
    }
    .accessories_footer{
        height: 143px;
        width: 100%;
        display: grid;
        margin-top: 27px;
        a.accessories_link{
            @include justLinks;
        }
        a.accessories{
            @include topLink;
            margin-top: 0;
        }
    }
    .discount_footer{
        height: 85px;
        width: 100%;
        display: grid;
        margin-top: 32px;
        a.discount_link{
            @include justLinks;
        }
        a.discount{
            @include topLink;
            margin-top: 0;
        }
    }
    .footer_info{
        height: 75px;
        width: 100%;
        display: grid;
        margin-top: 14px;
        p.info{
            font-size: 13px;
            font-weight: 400;
            color: #666666;
            margin-left: 15px;
            padding-bottom: 15px;
        }
        a.info{
            font-size: 13px;
            font-weight: 400;
            color: #666666;
            margin-left: 15px;
            padding-bottom: 16px;
        }
    }
}