footer
    .fetch_footer
        .about_us 
            h6.fetch Фетч
            a.fetch_link(href="") Магазин
            a.fetch_link(href="") Блог
            a.fetch_link(href="") Доставка и оплата
        .contact_us
            a.fetch_link_addr(href="mailto:shop@fetch.ru") shop@fetch.ru
            a.fetch_link_tel(href="88008121142") 8 800 912-11-42
            p.fetch_tel_add Звонок бесплатный
    .mens_footer
        a.formens(href="") Для мужчин
        a.mens_link(href="") Верхняя одежда
        a.mens_link(href="") Рубашки и поло
        a.mens_link(href="") Трикотаж
        a.mens_link(href="") Брюки и джинсы
        a.mens_link(href="") Бельё и носки
    .womans_footer
        a.forwomans(href="") Для женщин
        a.womans_link(href="") Верхняя одежда
        a.womans_link(href="") Рубашки и поло
        a.womans_link(href="") Трикотаж
        a.womans_link(href="") Платья и юбки
        a.womans_link(href="") Бельё и носки
    .shoes_footer
        a.shoes(href="") Обувь
        a.shoes_link(href="") Кроссовки и кеды
        a.shoes_link(href="") Ботинки
    .accessories_footer
        a.accessories(href="") Аксессуары
        a.accessories_link(href="") Сумки и рюкзаки
        a.accessories_link(href="") Часы
        a.accessories_link(href="") Бижутерия
        a.accessories_link(href="") Средства для ухода
    .discount_footer
        a.discount(href="") Скидки
        a.discount_link(href="") Летняя распродажа
        a.discount_link(href="") Коллекция 2018
    .footer_info
        p.info &copy Фэтч-команда, 2019
        a.info(href="") Правила обработки персональных данных
        a.info(href="") Разработка и поддержка сайта
    
    script(src="../scripts/jquery-3.5.1.js")
    script(src="../scripts/slick.min.js")
    script(src="../scripts/script.js")


    
