html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/main.css")
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    body
        header
            .header_nav
                .header_logo
                    a.logo_link(href="") Фэтч
                .header_links
                    a.header_link(href="") Одежда
                    a.header_link(href="") Обувь
                    a.header_link(href="") Аксессуары
                    a.header_link(href="") Блог
                    a.header_link(href="") Магазин
                    a.header_link(href="") Доставка и оплата
                .header_basket
                    a.basket(href="")
                        figure.icon-basket