.header_nav
    .header_logo
        a.logo_link(href="") Фетч
    .header_links
        a.header_link(href="") Одежда
        a.header_link(href="") Обувь
        a.header_link(href="") Аксессуары
        a.header_link(href="") Блог
        a.header_link(href="") Магазин
        a.header_link(href="") Доставка и оплата
    .header_basket
        a.basket(href="")
            figure.icon-basket