<!DOCTYPE html>
include header.pug
.header_content
    .header_images
        .header_slide 
            img(src="assets/img/header_pic.png", alt="")
            .header_image_title
                p.image_disc Распродажа
                p.discount до -15%
main
    section.description_section
        .top_description
            p Фэтч&nbsp;&mdash; мультибрендовый магазин модной одежды.
            p Следим за&nbsp;трендами и&nbsp;часто обновляем ассортимент.
            p Доставляем по&nbsp;москве за&nbsp;день, по&nbsp;России&nbsp;&mdash; за&nbsp;неделю.
        .catalog_section
            .mens_catalog
                a.catalog_header(href="") Для мужчин
                a(href="") Верхняя одежда
                a(href="") Рубашки и поло
                a(href="") Трикотаж
                a(href="") Брюки и джинсы
                a(href="") Бельё и носки
            .womans_catalog
                a.catalog_header(href="") Для женщин
                a(href="") Верхняя одежда
                a(href="") Рубашки и поло
                a(href="") Трикотаж
                a(href="") Брюки и джинсы
                a(href="") Бельё и носки
            .shoes_catalog
                a.catalog_header(href="") Обувь
                a(href="") Кроссовки и кеды
                a(href="") Ботинки
            .accessories
                a.catalog_header(href="") Аксессуары
                a(href="") Сумки и рюкзаки
                a(href="") Часы
                a(href="") Бижутерия
                a(href="") Средства для ухода
            .price_cuts
                a.catalog_header(href="") Скидки
                a(href="") Летняя распродажа
                a(href="") Коллекция 2018



            

